h1 {
    background-color: green;
    color: red;
    font-family: Monoton;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 40px;
    font-weight: bold;
    font-size: 65px;   
}



.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 33px;
}

.search-bar {
    width: 100%;
    max-width: 700px;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 5px 10px;
}

.search-bar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 2px 10px;
    font-size: 20px;
    color: #cac7ff;
    backdrop-filter: blur(4px) saturate(180%);
}

::placeholder {
    color: #cac7ff;
}

.search-bar button img {
    width: 25px;
}

.search-bar button {
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: #58629b;
    cursor: pointer;
}


nav {
    flex: 1;
    text-align: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 5px 8px;
    position: relative;
    

}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 23px;

}

nav ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;

}

nav ul li:hover::after {
    width: 100%;
}



/* ================= media query =============== */

@media (max-width: 500px) {

    h1 {
        background-color: green;
        font-family: Monoton;
        color: red;
        font-size: 36px;
        text-align: center;
        padding-top: 8px;
        padding-bottom: 8px;
        font-weight: bold;
    }

    nav {
        text-align: center;
        margin: auto;
    }

    nav  ul li a {
        font-size: 17px;
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 29px;
    }
    
    .search-bar {
        width: 70%;
        max-width: 500px;
        background: rgba(255, 255, 255, 0.2);
        display: flex;
        align-items: center;
        border-radius: 60px;
        padding: 2px 5px;
    }
    
    .search-bar input {
        background: transparent;
        flex: 1;
        border: 0;
        outline: none;
        padding: 2px 10px;
        font-size: 16px;
        color: #cac7ff;
        backdrop-filter: blur(4px) saturate(180%);
    }
    
    ::placeholder {
        color: #cac7ff;
    }
    
    .search-bar button img {
        width: 25px;
        border-radius: 60%;
        object-fit: contain;
    }
    
    .search-bar button {
        border: 0;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        background: #58629b;
        cursor: pointer;
    }

    
}